@font-face {
  font-family: "chalet";
  src: url('/public/ChaletComprime\ CologneSixty.ttf');
}

section.play-to-earn, section.staking {
  font-family: 'chalet';
}

section.header {
  background-image: url('/public/images/WallpaperDog-20488946.jpg');
  font-family: "chalet";
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  min-height: 140vh;
}

section.header::before {
  content: ' ';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  min-height: 100%;
  /* background-color: red; */
  z-index: 5;
  background: linear-gradient(90deg, #111, transparent);
}

section.welcome-section {
  /* background-image: url('/public/images/WallpaperDog-20488975.jpg'); */
  font-family: "chalet";
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  /* min-height: 120vh; */
}